body {
	background-color: C2DCDF;
	margin: 50px 30% 0px 30%;
}


h1 {
	font-family: "Comic Sans MS", serif;
	color: red;
}

h2 {
	font-family: "Comic Sans MS", serif;
	color: green;
}


p {
	font-size: 24px;
	text-align: justify;
}

li {
	font-family: "Comic Sans MS", serif;
}

header {
	bbackground-align: left, top;	
}


http://i.imgur.com/bFJbl5C.jpg